@charset "UTF-8";

body {
    font-family: 'Catamaran','Noto Sans JP',sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #2c2c2c;
    background-color: #c9f0e4;
    height : auto;
    text-align:  center;
}

/****** nav *******/

#button1  button {
	position: relative;
	display: block;
	float: left;
	width: 224px;
	height: 80px;
	margin: 0 10px 20px;
	padding: 0;
	letter-spacing: 0.15em;
	color: #ebc000;
	background-color: #fff;
	border: solid 0 rgba(174,94,155,1.0);
	border-radius: 20px;
}

#button1  button {
	width: 224px;
	height: 80px;
	line-height: 80px;
	color: #fff;
	background-color: #ae5e9b;
	border-radius: 20px;
}

button a {
    color: #000;
    text-decoration:none;
}

/*
.wrapper {
    font-family: 'Bitter', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lora', serif;
    font-family: 'Noto Sans JP', s5ans-serif;
    text-align: center;
    margin: 0 20px 50px 20px; 
}

#memo {
    display: block;
}

input[type="submit"] {
    margin: 5px 0;
}*/

th {
    height: 30px;
    text-align: center;
}

td {
    height: 80px;
}

.today {
    background: orange !important;
}

th:nth-of-type(1), td:nth-of-type(1) {
    color: red;
}

th:nth-of-type(7), td:nth-of-type(7) {
    color: blue;
}
table {
    background-color:  whitesmoke;
}

.req input[type="text"] {
    width: 20%;
}

textarea {
    vertical-align:c enter;
    width: 400px;
    height: 80px;
    margin-top: 5px;
}
